*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --dark-grayblue: hsl(217, 19%, 35%);
  --desat-darkblue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-grayblue: hsl(210, 46%, 95%);
  --border-radius: 1.5rem:
}
html{
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  background-color: var(--light-grayblue);
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.post-container{
  max-width: 700px;
  max-height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 2px solid pink; */
  background-color: white;
  border-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  
}
.post-picture{
  width: 60%;
  height: 100%;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/drawers.jpg');
}
.post-wrapper{
  width: 100%;
  height: 100%;
  padding: 2.5rem 3.5rem 2.5rem 3.5rem;
  display: flex;
  flex-direction: column; 
  color: var(--desat-darkblue);
}

.post-wrapper .post-content > h2{
  color: var(--dark-grayblue);
  font-size: 1.5rem;
  font-weight: bold;
  /*   border: 2px solid red; */
  margin-bottom: 1rem;
}
.post-wrapper .post-content > p{
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.post-wrapper .post-author{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.post-wrapper .post-author > img{
  width: 50px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.post-wrapper > section.post-author > div.author > h4{
  color: var(--dark-grayblue);
  font-weight: bold;
  font-kerning: 1;
}
.post-wrapper > section.post-author > div.author > span{
  color: var(--gray-blue);
}



.article-content__container .autor-container .autor-container .autor-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid red;
}

/*- Desktop: 1440px 
- Mobile: 375px*/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
